<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shetj.media" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- startForeground need it -->
    <application
        >
        <service android:name=".service.MusicService"
          >
            <intent-filter>
                <action android:name="androidx.media2.session.MediaLibraryService" />
            </intent-filter>
        </service>
    </application>
</manifest>